<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar class="bar-stable">
			<h1 class="title">Left</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close 
					ng-click="login()"
					ng-if="showLoginBtn">
					Login
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/images">
					Fetch Image List
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/randomlist">
					Random
				</ion-item>
				<ion-item nav-clear menu-close href="#/app/other">
					Example Battery & Camera
				</ion-item>
				<ion-item nav-clear menu-close href="example/example0.html">
					Example Animated SVGs
				</ion-item>
				<ion-item nav-clear menu-close href="example/example1.html">
					Example Tabs
				</ion-item>
				<ion-item nav-clear menu-close href="example/example2.html">
					Example Shrinking Header
				</ion-item>
				<ion-item nav-clear menu-close href="example/example3.html">
					Example Pull to Refresh
				</ion-item>
				<ion-item nav-clear menu-close href="example/example4.html">
					Example Show Actionsheet
				</ion-item>
				<ion-item nav-clear menu-close href="example/example5.html">
					Example App Intro
				</ion-item>
				<ion-item nav-clear menu-close href="example/example6.html">
					Example Popover
				</ion-item>
				<ion-item nav-clear menu-close href="example/example7.html">
					Example Checkboxes
				</ion-item>
				<ion-item nav-clear menu-close href="example/example8.html">
					Example Toggles
				</ion-item>
				<ion-item nav-clear menu-close href="example/example9.html">
					Example Chat
				</ion-item>
				<ion-item nav-clear menu-close href="example/example10.html">
					Example Accordion List
				</ion-item>
				<ion-item nav-clear menu-close href="example/example11.html">
					Example Slide Menu
				</ion-item>
				<ion-item nav-clear menu-close href="example/example12.html">
					Example Popup Form
				</ion-item>
				<ion-item nav-clear menu-close href="example/example13.html">
					Loading Below Tittle Bar
				</ion-item>
				<ion-item nav-clear menu-close href="example/example14.html">
					Example Toggle Footer
				</ion-item>
				<ion-item nav-clear menu-close href="example/example15.html">
					Example Alert
				</ion-item>
				<ion-item nav-clear menu-close href="example/example16.html">
					Example Radio Button
				</ion-item>
				<ion-item nav-clear menu-close href="example/example17.html">
					Example Google Map
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>